{% extends 'base.html.twig' %}

{% block title %}All posts{% endblock %}

{% block body %}
    <div class="grid grid-cols-1 gap-4">
        {% if posts|length > 0 %}
            {% for post in posts %}
                <div class="mb-6 bg-sky-100 p-8 rounded-xl shadow-lg"
                        {#                     onclick="location.href='{{ path('app_micro_post_show', #}
                        {#                         {post: post.id}) }}'" #}
                >
                    <div class="flex justify-between align-center">
                        {# title #}
                        <div class="flex items-center">
                            <a href="{{ path('app_micro_post_show',
                                {post: post.id}) }}" class="text-xl mr-8 text-neutral-700">
                                {{ post.title }}
                            </a>
                            {# username #}
                            <div class="text-md text-gray-500 mr-8 flex items-center">
                                <a href="#">user@email.com</a>
                            </div>
                        </div>
                        {# createdAt #}
                        <div class="text-gray-500 text-md">
                            {{ post.created | date('M j, Y') }}
                        </div>
                    </div>
                    {# text #}
                    <div class="mt-2 text-lg text-neutral-600">
                        {{ post.text }}
                    </div>
                    <div class="flex">
                        {# like #}
                        <div class="mt-4 shadow-lg px-3 py-1 rounded-xl bg-sky-300 text-white cursor-pointer hover:bg-sky-400 mr-8"
                             onclick="location.href='#'"
                        >
                            Like <span class="pl-2">0</span>
                        </div>
                        {# edit #}
                        <div class="mt-4 shadow-lg px-3 py-1 rounded-xl bg-sky-200 text-white cursor-pointer hover:bg-sky-300"
                             onclick="location.href='{{ path('app_micro_post_edit', {post:post.id}) }}'"
                        >
                            Edit <span class="pl-2">0</span>
                        </div>

                    </div>
                </div>
            {% endfor %}
        {% else %}
            There's nothing here yet!
        {% endif %}
    </div>
{% endblock %}
