<!DOCTYPE html>
<html class="">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        darkMode: 'class'
      }
    </script>
</head>

<body class="bg-gray-50 text-gray-800 m-10">

{# Header #}
<div class="w-full mx-auto mb-24 flex justify-between items-center text-neutral-700">
    <div class="text-4xl">
        <a href="{{ path('app_micro_post') }}">News Feed</a>
        {% block bread %}{% endblock %}
    </div>

    <div class="text-right">
        <div class="text-sm text-gray-400">
            <div>Login & Registration</div>
            <div>
                <a href="{{ path('app_micro_post_add') }}">New Post</a>
            </div>
        </div>
    </div>
</div>

{# Main #}
<div class="w-full md:w-2/3 mx-auto">
    {% for message in app.flashes('success') %}
        <div class="rounded-md p-2 border-green-300 bg-green-50 border mb-4"> {{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>
</body>
</html>
